nav {
    position:fixed; 
    top:0px;
    right:0px;
    border-style: solid ;
    background-color: rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;
        z-index: 100;
}
a[href$="alleNutzer.html"]:hover{
    background-color: rgba(0, 0, 255, 0.507);
    color: white;
    }
    a[href$= "anmeldung.html"]:hover{
        background-color: rgba(158, 156, 24, 0.507);
        color: white;
    }
    a[href$="drei_eins.html"]:hover{
        background-color: rgba(17, 167, 104, 0.507);
        color: white;
    }
    html{
 
        text-align: center;
        font-family: sans-serif;
    
    }
    a:link { 
        font-weight: bold; 
        text-decoration: none; 
        color: lightsteelblue;
        }
    a:visited { 
        font-weight: bold; 
        text-decoration: underline; 
        color: lightsteelblue;
        }
    a:hover, a:focus,a:active { 
        text-decoration: underline; 
        color: lightsteelblue;
    }
    #hervorheben{
        color: gold;
    }